* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Arial, Helvetica, sans-serif;
}

.headpag{
    width: 100%;
    height: 75px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixaimg img{
    width: 100%;
    height: 55px;
    padding-left: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login{
    padding-right: 50px;
}

.logbtn{
    text-decoration: none; 
    color: inherit; 
    cursor: default;
    color: white;
    font-size: 20px;
}

.imgbox{
    width: 100%; 
    height:500px; 
    background-color:#EAEAEA;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.imgbox img{
    width: 600px;
}

.imgbox .txtint h1{
    color: black;
    font-weight: 600;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center
}

.imgbox .txtint p{
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center
}

.contma{
    width: 100%;
    height: 500px;
    background-color:#EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
}

.divider{
    border-left: 1px solid black; 
    height: 100px;
}
.valores1{
    width: 500px;
    height: 250px;
}

.valores2{
    width: 500px;
    height: 250px;
}
.valores3{
    width: 500px;
    height: 250px;
}

.contma h2{
    color: black;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.contma h3{
    color: black;
    font-weight: 550;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.contfooter{
    width: 100%;
    height: 200px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatos{
    color: rgb(255, 255, 255);
    padding-left: 100px;
}

.conttitu{
    font-size: 1.5em;
}

.infos1{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}
