* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Arial, Helvetica, sans-serif;
}

.imgHead{
    width: 300px;
}

.imgEx{
    width: 600px;
}

.formularioLog{
    padding-top: 50px;
}

.caixa{
    display: flex; /* Aplica flexbox no contêiner pai */
    align-items: center; /* Centraliza verticalmente os elementos */
    justify-content: space-around; /* Alinha os elementos à direita */
}

.inptPad{
    padding-top: 5px;
}

.bar{
    margin-top: 30px;
    width: 300px; 
    height: 1px;
    background-color: rgb(0, 0, 0, 0.7);
}

p{
    color: white;
}

.classTxT{
    font-weight: bold;
    position: relative;
}

.classTxT::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px; 
    height: 4px;
    background-color: #000;
  }

.btnEntrar{
    position: relative;
}

.cadTXT{
    padding-top: 15px;
    color: rgb(0, 0, 0, 0.6);
}

.footerCor{
    background-color: rgb(248, 249, 250, 1);
}

