main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 20px;
}

.container {
    display: flex;
    gap: 20px;
}

.bloco {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.bloco h2 {
    margin-bottom: 20px;
}

.bloco .btn {
    display: inline-bloco;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.bloco .btn:hover {
    background-color: #555;
}