* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black!important;
}

.navTitulo{
    font-size:xx-large;
    padding-left: 15px;
}

.esapaco{
    padding-top: 15px;
    padding-bottom: 10px;
}

.centralizarTitle{
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-right: 50px;
}

.centralizarCont{
    justify-content: center;
    display: flex;
}